@keyframes jumpAnimation {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px); /* Ajustez la hauteur du saut ici */
  }
  60% {
    transform: translateY(-10px); /* Ajustez la hauteur du saut ici */
  }
}

.animate-jump {
  animation: jumpAnimation 0.5s ease-in-out; /* Ajustez la durée et l'accélération selon vos besoins */
}

.drop-shadow-lg {
  box-shadow: 1px 3px 2px 2px rgba(0, 0, 0, 0.6); /* offsetX offsetY blurRadius spreadRadius color */
}

.text-with-outline {
  position: relative;
  display: inline-block;
}

.text-with-outline::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-text-stroke: 0.1em #000; /* Épaisseur et couleur du contour */
  color: transparent;
}

.arrow-right {
  position: relative;
}

.arrow-right::after {
  content: '';
  position: absolute;
  right: -1em; /* Adjust as needed */
  top: 50%;
  width: 0;
  height: 0;
  border-top: 1.2em solid transparent; /* Adjust size as needed */
  border-bottom: 1.2em solid transparent; /* Adjust size as needed */
  border-left: 0.5em solid #432020; /* Adjust color and size as needed */
  transform: translateY(-50%);
}
