@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
.vt323-font {
  font-family: 'VT323', monospace;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Joystix';
  src: url('../assets/fonts/joystix.monospace-regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
