@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.vt323-font {
  font-family: 'VT323', monospace;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
@layer components {
  .modal-base {
    @apply absolute p-4 border-4 border-black rounded shadow-lg bg-white w-[80%] top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-base outline-none;
  }
}

/* Custom scrollbar styles */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #374151; /* Using a hex color code for gray-700 */
}

/* For WebKit (Chrome, Safari, etc.) */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #374151; /* Hex color code for gray-700 */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Direct color name */
  border-radius: 20px;
  border: 3px solid #374151; /* Hex color code for gray-700 */
}
